@model AssetManager.Models.Activo

@{
    ViewData["Title"] = "Eliminar Activo";
}

<h1>@ViewData["Title"]</h1>

<h3 class="text-danger">¿Estás seguro de que quieres eliminar este activo?</h3>
<div>
    <h4>@Model.nom_act</h4>
    <hr />
    <dl class="row">
    <dt class = "col-sm-3">@Html.DisplayNameFor(model => model.nom_act)</dt>
    <dd class = "col-sm-9">@Html.DisplayFor(model => model.nom_act)</dd>
    <dt class = "col-sm-3">@Html.DisplayNameFor(model => model.cod_act)</dt>
    <dd class = "col-sm-9">@Html.DisplayFor(model => model.cod_act)</dd>
    <dt class = "col-sm-3">@Html.DisplayNameFor(model => model.Categoria)</dt>
    <dd class = "col-sm-9">@Html.DisplayFor(model => model.Categoria.nom_categoria)</dd>
    </dl>

    <form asp-action="Eliminar">
    <input type="hidden" asp-for="activo_id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
